.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
}

.navbar-brand h1 {
    margin: 0;
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links button {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar-links button:hover {
    background-color: #21a1f1;
}