.strava-connect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.strava-connect button {
    padding: 12px 24px;
    background-color: #f79b46;
    border: none;
    border-radius: 5px;
    color: #fdfcfc;
    font-size: 100%;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.strava-connect button:hover {
    background-color: #fc753f;
    transform: scale(1.05);
}

.strava-connect button:active {
    transform: scale(1);
}

.strava-connect p {
    margin-left: 15px;
    color: #d9534f;
    font-size: 100%;
    font-family: 'Arial', sans-serif;
}